html, body {
    max-width: 100%;
}

header {
    width: 100%;
    color: #1d1313;
    height: auto;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 238, 196);
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 8vw;
}

p {
    font-family: 'PT Sans Caption', sans-serif;
    position: relative;
    font-size: 12px;
    left: 12px;
}

h2 {
    font-family: 'PT Sans Caption', sans-serif;
    position: relative;
    font-size: 13px;
    left: 12px;
}

.container {
    top: 26vh;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}

.team-member-card {
    width: 250px;
    height: 38vh;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 5vh;
    box-shadow: 2px 5px 5px rgb( 5, 94, 105 );
    border-top-left-radius: 10px;
    background-color: rgb( 241, 248, 248 );
}

.team-member-card-top {
    background-color: rgb( 139, 216, 221 );
    border: 2px solid rgb( 139, 216, 221 );
    border-top-left-radius: 10px;
}

.team-member-card-bottom {
    display: flex;
    flex-direction: column;
    align-content: center;
}